<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  <include file="$(find robot_launch)/launch/tag_detection.launch"/>
  <include file="$(find robot_launch)/launch/roboclaw_control.launch"/>
  <include file="$(find robot_control)/launch/robot_control.launch"/>
<!--
  <include file="$(find robot_launch)/launch/robot_sensor.launch"/>
-->
</launch>
